@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

body {
  padding: 0 10vw;
  font-family: 'Gluten', cursive;
  overflow-x: hidden;
}

/* Header */
header {
  padding: 6vh 7vw;
  letter-spacing: 0.7px;
  transition: all 0.6s ease;
}

.left-header {
  float: left;
  font-weight: 600;
  font-size: 17px;
  color: rgb(58, 58, 58);
  margin-top: 0.5vh;
}

nav {
  float: right;
  display: flex;
}

nav a,
.mobile-nav {
  color: rgb(70, 70, 70);
  font-size: 15px;
  margin: 1vh;
  float: left;
  display: block;
  text-decoration: none;
  transition: all 0.25s;
  height: 40px;
}

nav a:hover {
  background: #fff;
  color: rgb(204, 0, 119);
  margin-top: -6px;
}

.mobile-nav {
  margin-top: -5px;
  cursor: pointer;
  font-size: 24px;
  display: none;
}

.mobile-nav:active {
  color: rgb(167, 0, 111);
}

/* Homepage content */
.home {
  height: 100vh;
  letter-spacing: 0.7px;
}

.iam {
  color: rgb(39, 39, 39);
  margin: 31vh auto 2vh;
  text-align: center;
  font-size: 1.45em;
  cursor: pointer;
  transition: all 0.5s;
}

.fade:hover {
  color: white;
}

.secret {
  color: rgb(0, 90, 102);
  cursor: default;
  transition: all 1s;
  user-select: none;
}

.its-great {
  color: rgb(77, 77, 77);
  text-align: center;
  margin: auto;
  width: 26ch;
  animation: typing 4s, disco 1s infinite;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.45em;
}

/* Icons */
.icons {
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.icons a {
  margin: 34vh 3.1% 0;
  font-size: 33px;
  cursor: pointer;
}

.bi-linkedin {
  color: rgb(0, 69, 173);
}

.bi-github {
  color: rgb(104, 104, 104);
}

.bi-twitter {
  color: rgb(0, 151, 197);
}

.bi-envelope {
  color: rgb(234, 0, 255);
}

/* About me */
.about {
  max-width: 900px;
  margin: auto;
  display: grid;
}

.about h2 {
  grid-column: 1/4;
  text-align: center;
  margin: 6vh auto 3vh;
  animation: disco 1s infinite;
}

.its-me {
  display: flex;
  align-items: center;
  justify-content: center;
}

.its-me img {
  width: 100%;
  max-width: 340px;
  min-width: 200px;
}

.about-content {
  font-family: cursive;
  padding: 2vh;
}

.about-content p {
  padding: 1vh;
  line-height: 20px;
  word-spacing: 3px;
  font-family: 'Comfortaa', cursive;
}

.about-content a {
  color: rgb(0, 92, 179);
}

.pink {
  color: rgb(255, 0, 212);
}

/* Skills section*/
.skills {
  display: grid;
}

.skills h2 {
  animation: disco 1s infinite;
  grid-column: 1/4;
  text-align: center;
  margin: 6vh auto 4vh;
}

.skill {
  font-family: 'Comfortaa', cursive;
  height: auto;
  margin: 1.9vh 0.9vh;
  display: grid;
  grid-template-columns: repeat(3, auto);
  color: rgb(49, 49, 49);
}

.skill img {
  max-width: 60px;
  padding: 0.6vh;
  display: inline;
}

.other-tools {
  grid-column: 1/4;
}

.other-tools-header {
  color: rgb(61, 61, 61);
  margin: 7vh auto 3vh;
  text-align: center;
}

.other-tools-logos {
  display: grid;
  grid-template-columns: repeat(6, auto);
  max-width: 450px;
  margin: auto;
}

.other-tools-logos img {
  width: 60px;
  margin: auto;
}

/* Projects Section */
.projects {
  display: grid;
  max-width: 900px;
  margin: auto;
}

.projects h2 {
  animation: disco 1s infinite;
  grid-column: 1/4;
  text-align: center;
  margin: 8vh auto 4vh;
}

.project {
  margin: 6px;
  height: 270px;
  color: rgb(24, 24, 24);
  transition: all 1s;
  position: relative;
  cursor: pointer;
  background-image: url();
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-info {
  padding-top: 19px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  transition: all 0.5s;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.678);
  border: 0px solid white;
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
  cursor: pointer;
}

.bi-arrow-bar-up {
  position: absolute;
  top: 4px;
}

.project-info:hover {
  background-color: rgb(255, 255, 255);
  height: 100%;
}

.project-description {
  margin-top: 20%;
  margin-bottom: 20px;
}

.project-info button {
  display: block;
  width: 140px;
  height: 35px;
  margin: 5px auto;
  border-radius: 0;
  border: none;
  transition: all 0.3s;
  color: #fff;
  cursor: pointer;
  background-color: rgb(0, 162, 255);
}

.project-info button:hover {
  background-color: #fff;
  border: 2px solid rgb(0, 183, 255);
  color: rgb(0, 84, 105);
}

/* Contact section */
.contact {
  max-width: 900px;
  margin: auto;
}

.contact h2 {
  text-align: center;
  margin: 7vh auto 4vh;
  animation: disco 1s infinite;
}

.contact h4 {
  max-width: 500px;
  margin: auto;
}

.contact .icons a {
  margin-top: 40px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: auto;
}

.contact-form caption {
  color: rgb(138, 138, 138);
  margin-bottom: 7px;
  font-style: italic;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  transition: all 0.2s;
  margin: 7px;
  padding: 8px 7px;
  outline-color: rgb(122, 224, 255);
  border: 2px solid rgb(202, 202, 202);
}

.contact-form textarea {
  height: calc(79vh - 320px);
  min-height: 60px;
}

.contact-form button {
  background: rgb(9, 144, 255);
  border: 1px solid rgb(194, 194, 194);
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}

.contact-form button:hover {
  background-color: rgb(247, 161, 255);
}

.contact-form * {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  height: auto;
  margin-top: 5vh;
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-bottom: 15px;
  font-style: italic;
}

footer hr {
  margin-bottom: 10px;
}

footer address {
  color: rgb(119, 119, 119);
}

footer .developer {
  margin-top: 5px;
}

/* Footer section */
footer .icons {
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: center;
}

footer .contact-message {
  color: rgb(102, 102, 102);
}

footer .icons a {
  margin: 10px 2.9%;
  font-size: 29px;
  cursor: pointer;
}

/* Animations */
@keyframes disco {
  0% {
    color: orange;
  }
  20% {
    color: rgb(37, 157, 255);
  }
  40% {
    color: rgb(255, 30, 30);
  }
  60% {
    color: rgb(216, 0, 216);
  }
  80% {
    color: rgb(0, 192, 0);
  }
  100% {
    color: orange;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@media screen and (max-width: 1200px) {
  .skills {
    grid-template-columns: repeat(2, auto);
  }

  .skills h2 {
    grid-column: 1/3;
  }

  .other-tools {
    grid-column: 1/3;
  }

  .java-skill {
    grid-column: 1/3;
    margin: auto;
    margin-top: 4vh;
    width: 40vw;
  }
}

@media screen and (max-width: 800px) {
  .its-me {
    grid-column: 1/4;
  }

  .about-content {
    grid-column: 1/4;
  }
  .skills {
    grid-template-columns: repeat(1, auto);
  }

  .skills h2 {
    grid-column: 1/2;
  }

  .skill {
    margin: 2vh 4vw 2vh 2vw;
  }

  .other-tools {
    grid-column: 1/2;
  }

  .java-skill {
    grid-column: 1/2;
    margin-top: 1.8vh;
    width: 92%;
  }

  .other-tools-logos {
    display: grid;
    grid-template-columns: repeat(3, auto);
    max-width: 250px;
    margin: auto;
  }

  .other-tools-logos img {
    width: 60px;
    margin: 1vh auto;
  }

  .projects h2 {
    grid-column: 1/3;
  }
}

/* Responsive design */
@media screen and (max-width: 700px) {
  body {
    padding: 0 2vw;
  }

  nav a {
    width: 100px;
    display: none;
    padding: 1.7vh 20px;
    background-color: rgb(255, 195, 252);
    color: black;
    height: 33px;
  }

  nav a:hover {
    margin-top: 0;
  }

  .mobile-nav {
    float: right;
    display: block;
  }

  .responsive {
    display: block;
    position: relative;
  }

  .responsive .mobile-nav {
    position: absolute;
    right: 0;
    top: 0;
  }

  .responsive * {
    float: none;
    display: block;
    text-align: left;
  }

  .nav-menu-container {
    margin-top: 4vh;
  }
}

@media screen and (max-width: 450px) {
  .projects h2 {
    grid-column: 1/2;
  }
}
